@import 'var.scss';

body {
    margin: 0;
    background-color:$background;
}

h1,
h2,
h3 {
    font-family: $oswald;
    color: $title;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 4em;
}

p {
    font-family: $istok;
    color: $text;
    font-size: 1.2em;
    line-height: 1.8;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    p {
        margin-top: 42px;
    }
}

footer p, footer a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

footer {
    background: linear-gradient(#1f1f1f67, $background);
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    padding-bottom: 40px;

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        vertical-align: top;
        display: inline-block;
        color: $title;
    }

    .mail {
        text-align: center;
    }

    .tel {
        text-align: right;
    }
}