@import 'var.scss';

body {
    margin: 0;
    background-image: url('../img/montagnes.jpg');
    background-size: cover;
}

h1,
h2,
h3 {
    font-family: $roboto;
    color: $text;
    // font-weight: 600;
}

h1 {
    text-align: center;
}

p {
    font-family: $open;
    color: $text;

}

.coucou {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 150px;
    width: 600px;

    p {
        text-align: center;
    }
}

.border {
    border: 3px solid #F9F871;
    border-radius: 5px;
    box-shadow: $shadow, $inset;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 -10px #b4b468ab;
    }

    40% {
        text-shadow: 0 0 20px #b4b468ab;
    }

    60% {
        text-shadow: 0 0 20px #b4b468ab;
    }

    100% {
        text-shadow: 0 0 -10px #b4b468ab;
    }
}

.glow {
    animation: glowing 3000ms infinite;
    color: #F9F871;
    font-weight: 600;
}