* {
    font-family: 'Londrina Outline', cursive;
}

body {
    margin: 0;
    background-color: #393B4A;
}

p,
h1,
h2,
h3 {
    color: #DB3F47;
}

h1 {
    text-transform: uppercase;
}

p {
    font-size: 3em;
    font-weight: 600;
}

.coucou {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 200px;
    width: 350px;
    border: 2px solid #FF9000;
    border-radius: 5px;
    box-shadow: 0 0 18px rgba(243,113,55,.5), inset 0 0 18px rgba(243,113,55,.5);
}